{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {% if user %}
          Access token:
          <code style="word-break: break-all">{{ user.access_token }}</code>
        {% endif %}

        {% if not user %}
          <a href="/auth/login" class="govuk-link">Sign in using DFE Signin</a>
        {% endif %}
      </p>
    </div>
  </div>

{% endblock %}
